/* custom template */
html, body {
    height: 100%;
    font: 100% 'Ubuntu', sans-serif;
    /*background: #fefefe;*/
}

a {
    color: #222222;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom: 1;
}

.column .padding {
    padding: 10px;
}

.box {
    bottom: 0px; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #E57373;
}

.divider {
    margin-top: 32px;
}

#main {
    background-color: #fefefe;
}

#main .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
}

/*SIDEBAR CSS*/
#sidebar {
    color: #ffffff;
    background-color: transparent;
    text-shadow: 1px 0 1px #888888;
}

#sidebar-footer {
    position: absolute;
    bottom: 5px;
}

.sidebar-top {
    color: #222222;
}

.sidebar-top h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

.sidebar-top img {
    width: 75%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-top p {
    padding: 0.5em;
}

.sidebar-top q {
    line-height: 1.5em;
}

.sidebar-contact {
    color: #222222;
}

.sidebar-contact h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

.sidebar-contact i {
    color: #893535;
}

.sidebar-nav {
    margin: 5px 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.sidebar-nav li {
    line-height: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFECB3;
    font-size: 1.25em;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #C54C4C;
    border-radius: 20px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav-active {
    text-decoration: none;
    color: #fff;
    background: #C54C4C;
    border-radius: 20px;
}

/*SIDEBAR*/


#footer {
    margin-bottom: 20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
    #sidebar, #sidebar a.logo {
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 26px;
    }

    #sidebar a.logo {
        font-size: 50px;
        height: 75px;
        width: 75px;
        margin-bottom: 30px;
    }
}

/* Content CSS */

.section-title-background {
    background: #C54C4C;
    color: #FFF;
    padding: 5px 190px 5px 30px;
    display: inline-block;
    border-radius: 20px;
}

/* bootstrap overrides */
.jumbotron {
    background-color: transparent;
}

.label-default {
    background-color: #dddddd;
}

.page-header {
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px dotted #E57373;
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
    font-family: courier, courier-new, monospace;
}
