.experience-left h4, .experience-left-trd h4, .experience-right-snd h4 {
    color: #53bed6;
    font-size: 1.4em;
    margin: 0;
    text-transform: uppercase;
}
.experience-left h5, .experience-left-trd h5, .experience-right-snd h5 {
    color: #34353a;
    font-size: 0.9em;
    margin: 14px 0;
}
.experience-left p, .experience-left-trd p, .experience-right-snd p {
    color: #555;
    font-size: 0.9em;
    line-height: 1.8em;
    margin-top: 8px;
}
.experience-left, .experience-left-snd, .experience-left-trd {
    left: 3.55%;
    position: absolute;
    text-align: right;
    width: 40%;
}
.experience-left {
    top: 1em;
}
.experience-left-snd {
    top: 12.35em;
}
.experience-left-trd {
    top: 22.35em;
}
.experience-left span, .experience-left-snd span, .experience-left-trd span {
    background-color: #fff;
    border: 2px dotted #53bed6;
    border-radius: 50%;
    color: #53bed6;
    font-size: 1.7em;
    margin: 0 !important;
    padding: 14px;
    position: relative;
    right: -3.825em;
    text-align: center;
}
.experience-left span {
    top: 1.7em;
}
.experience-left-snd span {
    top: 1.3em;
}
.experience-left-trd span {
    top: 1.83em;
}
.experience-right-snd {
    left: 56.2%;
    position: absolute;
    text-align: left;
    width: 40%;
}
.experience-right-snd {
    top: 15em;
}
.my-skills {
    background: #34353a none repeat scroll 0 0;
    padding: 5em 0;
}
.my-skills h3 {
    color: #ffffff;
    font-size: 3em;
    font-weight: 400;
    margin: 0;
}
.skill-grids {
    margin-top: 4em;
}
.skills-grid p {
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 600;
    margin: 20px 0 0;
    text-transform: uppercase;
}
.circle {
    color: #ffffff;
    font-size: 36px;
}
span.circles-number {
    font-size: 36px;
}
span.circles-text {
    font-size: 36px;
}
.circles-text-wrp {
    line-height: 142px !important;
}
.projects {
    background: #53bed6 none repeat scroll 0 0;
    min-height: 600px;
    padding-top: 12em;
    position: relative;
}
.project-grids h4 {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}
.cycle {
    text-align: center;
}
.cycle span {
    background: rgba(0, 0, 0, 0) url("../images/cycle.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 284px;
    width: 284px;
}
.people-grid {
    left: 56.5%;
    position: absolute;
    text-align: center;
    top: 51%;
}
.total-project {
    left: 46.5%;
    position: absolute;
    text-align: center;
    top: 17%;
}
.project-grid p {
    color: #fff;
    font-size: 1.4em;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}
.project-grid span {
    background: #fff none repeat scroll 0 0;
    border-radius: 30em;
    display: inline-block;
    height: 70px;
    margin-top: 1em;
    transition: all 0.5s ease 0s;
    width: 70px;
}
.project-grid:hover span {
    background: #34353a none repeat scroll 0 0;
}
.project-grid span i {
    font-size: 1.6em;
    padding-right: 0.1em;
    padding-top: 0.8em;
}
.project-grid:hover span i {
    color: #fff;
}
.clientsgrid {
    left: 39.5%;
    position: absolute;
    text-align: center;
    top: 51%;
}
.people-grid div {
    left: 90px;
    position: absolute;
    top: 18px;
}
.clientsgrid div {
    left: -102px;
    position: absolute;
    top: 21px;
}
.clientsgrid span i.p-icon {
    background-position: -43px 0;
}
.gallery {
    padding: 5em 0;
}
h3.tittle.port {
    color: #fff;
}
.b-link-stripe {
    display: inline-block;
    font-weight: 300;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.b-link-stripe .b-wrapper {
    color: #ffffff;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.b-animate-go {
    text-decoration: none;
}
.b-animate {
    font-size: 1.1em;
    font-weight: 700;
    transition: all 0.5s ease 0s;
    visibility: hidden;
}
.b-animate-go:hover .b-animate {
    visibility: visible;
}
.b-from-left {
    background: rgba(79, 185, 208, 0.65) none repeat scroll 0 0 / 100% 100%;
    left: -100%;
    margin: 0;
    min-height: 282px;
    position: relative;
    top: 0;
}
.bottom-gallery:hover .b-from-left {
    left: 0;
}
.gallery-top {
    padding: 0 0 2em;
    text-align: center;
}
.gallery-top h1 {
    color: #000;
    font-size: 3em;
}
.gallery-top p {
    color: #a5a5a5;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0.5em 0 0;
}
.bottom-gallery {
    margin-bottom: 0.3em;
    padding: 0 2px;
}
.gallery {
    background-color: #34353a;
    padding: 5em 0;
}
.gallery_1 {
    margin: 3em 0 0;
}
.contact_desc {
    padding: 4em 0;
}
form.left_form {
    float: left;
    width: 49%;
}
form.right_form {
    float: right;
    width: 49%;
}
label {
    color: #34353a;
    font-size: 1em;
    margin: 0 0 0.3em;
}
.contact-form input[type="text"], .contact-form textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 7px;
    outline: medium none;
    padding: 15px 18px;
    text-transform: uppercase;
    width: 100%;
}
.contact-form textarea {
    height: 220px;
    margin: 0 0 0.5em;
    resize: none;
}
.contact-form input[type="submit"] {
    background: #53bed6 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    float: right;
    font-size: 0.95em;
    font-weight: 500;
    outline: medium none;
    padding: 0.7em;
    text-transform: uppercase;
    width: 21%;
}
.contact-form input[type="submit"]:hover {
    background: #34353a none repeat scroll 0 0;
    text-decoration: none;
}
.contact-form {
    padding: 3em 0 1em;
}
.contact {
    background-color: #f7f7f7;
}
h3.tittle.two {
    margin: 0.5em 0;
    text-align: left;
}
.map {
    min-height: 540px;
    position: relative;
}
.map iframe {
    border: medium none;
    left: 0;
    min-height: 540px;
    position: absolute;
    width: 100%;
}
.black {
    background: rgba(35, 36, 42, 0.71) none repeat scroll 0 0;
    left: 0;
    min-height: 540px;
    position: absolute;
    width: 100%;
}
.contact-top p, .contact-top p a {
    color: #555;
    font-size: 0.9em;
    font-weight: 400;
    margin: 1em 0;
}
.contact-top p a {
    font-size: 1.05em;
}
.contact-top h4 {
    color: #555;
    font-size: 1.1em;
    font-weight: 400;
    margin: 0.5em 0;
}
.map-l {
    margin: 32% auto 0;
    text-align: center;
}
.contact-top {
    padding: 7em 0 0 13em;
}
.point i {
    color: #53bed6;
    font-size: 4em;
}
.map-l i {
    color: #53bed6;
    font-size: 4em;
}
.copy {
    background: #53bed6 none repeat scroll 0 0;
    padding: 1em;
    text-align: center;
}
.copy p {
    color: #fff;
    font-size: 0.9em;
}
.copy p a {
    color: #fff;
}
.copy p a:hover {
    text-decoration: underline;
}
#toTop {
    background: rgba(0, 0, 0, 0) url("../images/move-top.png") no-repeat scroll 0 0;
    border: medium none;
    bottom: 10px;
    display: none;
    height: 22px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: 100%;
    width: 40px;
}
@media (max-width: 1440px) {
    .clientsgrid {
        left: 37.5%;
        position: absolute;
        text-align: center;
        top: 50%;
    }
    .people-grid {
        left: 57.5%;
        position: absolute;
        text-align: center;
        top: 50%;
    }
    .total-project {
        left: 46%;
        position: absolute;
        text-align: center;
        top: 16%;
    }
    .banner {
        background: #f6608a none repeat scroll 0 0;
        min-height: 700px;
    }
    .contact-top {
        padding: 7em 0 0 7em;
    }
}
@media (max-width: 1366px) {
    .logo a h1 {
        font-size: 8.5em;
    }
    .contact-top {
        padding: 7em 0 0 5em;
    }
}
@media (max-width: 1280px) {
    .scroll-down {
        margin: 9% auto 0;
        text-align: center;
    }
    .banner {
        min-height: 660px;
    }
    .banner-info {
        margin-top: 8em;
    }
    .clientsgrid {
        left: 36%;
        top: 50%;
    }
    .people-grid {
        left: 58%;
        position: absolute;
        text-align: center;
        top: 50%;
    }
    .total-project {
        left: 45.5%;
        position: absolute;
        text-align: center;
        top: 15%;
    }
    .black {
        min-height: 470px;
    }
    .map {
        min-height: 470px;
    }
    .map iframe {
        min-height: 470px;
    }
}
@media (max-width: 1024px) {
    .logo a h1 {
        font-size: 7.5em;
    }
    .banner-info p {
        font-size: 0.9em;
        line-height: 1.9em;
        margin: 1% auto 0;
        width: 74%;
    }
    .banner {
        min-height: 610px;
    }
    .banner-info {
        margin-top: 6em;
    }
    .ab-grid.text h4 {
        font-size: 1.2em;
    }
    .text {
        min-height: 453px;
        padding: 3em;
    }
    h3.tittle {
        font-size: 2.3em;
    }
    span.devide-line {
        height: 360px;
        left: 51.5%;
        top: 5.4em;
        width: 1px;
    }
    .experience {
        min-height: 820px;
        padding-top: 4em;
    }
    .skills-grid:nth-child(1), .skills-grid:nth-child(2), .skills-grid:nth-child(3) {
        margin-bottom: 30px;
    }
    .skills-grid {
        float: left;
        width: 33.3% !important;
    }
    .contact_desc {
        padding: 4em 0 2em;
    }
    ul.side_nav {
        position: fixed;
        right: 4%;
        top: 31%;
        z-index: 1;
    }
    .clientsgrid {
        left: 33%;
        top: 50%;
    }
    .people-grid {
        left: 60%;
        position: absolute;
        text-align: center;
        top: 50%;
    }
    .total-project {
        left: 45%;
        position: absolute;
        text-align: center;
        top: 15%;
    }
    .contact-top {
        padding: 7em 0 0 1.8em;
    }
    .contact-top h4 {
        font-size: 1em;
        line-height: 1.7em;
        margin: 0.5em 0;
    }
    #about {
        padding: 4em 0;
    }
}
@media (max-width: 800px) {
    .header-top {
        padding: 1.2em 0 0 0;
    }
    .banner {
        min-height: 507px;
    }
    .logo a h1 {
        font-size: 6em;
    }
    .banner-info p {
        font-size: 0.85em;
        line-height: 1.9em;
        margin: 1% auto 0;
        width: 84%;
    }
    ul.side_nav li a {
        height: 10px;
        margin-bottom: 0.7em;
        width: 10px;
    }
    .banner-info {
        margin-top: 5em;
    }
    ul.side_nav {
        position: fixed;
        right: 2%;
        top: 19%;
        z-index: 1;
    }
    .ab-grid {
        float: left;
        padding: 0;
        width: 49%;
    }
    .ab-grid.text p {
        font-size: 0.85em;
        margin: 0.5em 0;
        width: 100%;
    }
    .ab-grid.text h4 {
        font-size: 1em;
    }
    .text {
        min-height: 409px;
        padding: 2em;
    }
    .experience-left, .experience-left-snd, .experience-left-trd {
        font-size: 1.2em;
        right: -3.67em;
    }
    .experience-left, .experience-left-snd, .experience-left-trd {
        left: 7px;
        width: 43%;
    }
    .experience-left-snd span {
        top: 1.1em;
    }
    .experience-left h4, .experience-left-trd h4, .experience-right-snd h4 {
        font-size: 1.1em;
    }
    .experience-left h5, .experience-left-trd h5, .experience-right-snd h5 {
        color: #34353a;
        font-size: 0.8em;
        margin: 14px 0;
    }
    .experience-left p, .experience-left-trd p, .experience-right-snd p {
        font-size: 0.85em;
        line-height: 1.8em;
        margin-top: 4px;
    }
    .experience-left p, .experience-left p {
        font-size: 0.75em;
    }
    .experience-right-snd {
        left: 56.5%;
        top: 16.6em;
        width: 43%;
    }
    .experience-left-trd {
        top: 22em;
    }
    .experience-left span, .experience-left-snd span, .experience-left-trd span {
        font-size: 1em;
        padding: 14px;
        right: -4em;
    }
    span.devide-line {
        height: 370px;
        left: 51%;
        top: 5.4em;
        width: 1px;
    }
    .experience-left-snd {
        top: 12.35em;
    }
    .experience-left {
        top: 0;
    }
    .experience-left span {
        top: 2.5em;
    }
    .experience {
        min-height: 920px;
        padding-top: 4em;
    }
    .projects {
        min-height: 550px;
        padding-top: 11em;
    }
    .project-grid span {
        height: 60px;
        width: 60px;
    }
    .project-grid span i {
        font-size: 1.3em;
        padding-right: 0.1em;
        padding-top: 0.8em;
    }
    .clientsgrid {
        left: 28%;
        top: 50%;
    }
    .people-grid {
        left: 64%;
        position: absolute;
        text-align: center;
        top: 50%;
    }
    .total-project {
        left: 43%;
        position: absolute;
        text-align: center;
        top: 15%;
    }
    .bottom-gallery {
        float: left;
        margin-bottom: 0.3em;
        padding: 0 2px;
        width: 50%;
    }
    .gallery {
        padding: 4em 0;
    }
    .contact-form input[type="submit"] {
        float: right;
        font-size: 0.95em;
        padding: 0.7em;
        width: 38%;
    }
    .contact-form textarea {
        height: 225px;
        margin: 0 0 0.5em;
    }
    .contact-top {
        padding: 5em 0 3em 1em;
    }
    .map-l {
        margin: 28% auto 0;
    }
    #loginpop {
        float: right;
        margin-top: 0;
        position: relative;
    }
    .experience-left-trd p {
        font-size: 0.75em;
    }
    .banner-info p {
        font-size: 0.85em;
        line-height: 1.9em;
        margin: 1% auto 0;
        width: 79%;
    }
}
@media (max-width: 768px) {
    .black {
        min-height: 400px;
    }
    .map {
        min-height: 400px;
    }
    .map iframe {
        min-height: 400px;
    }
    .map-l {
        margin: 24% auto 0;
    }
    .banner-info lable {
        display: none;
    }
    .top-menu ul {
        background: #53bed6 none repeat scroll 0 0;
        margin: 53px 0 53px -2.3em;
        padding: 2% 0;
        position: absolute;
        text-align: center;
        width: 95.5%;
        z-index: 999;
    }
}
@media (max-width: 640px) {
    .logo a h1 {
        font-size: 5.5em;
    }
    .black {
        min-height: 430px;
    }
    .map {
        min-height: 430px;
    }
    .map iframe {
        min-height: 430px;
    }
    .map-l {
        margin: 30% auto 0;
    }
    .banner {
        min-height: 454px;
    }
    .top-menu ul {
        margin: 53px 0 53px -2em;
        padding: 2% 0;
        width: 95%;
    }
    .ab-grid {
        float: left;
        padding: 0;
        width: 100%;
    }
    .text {
        min-height: 266px;
        padding: 2em;
    }
    .ab-grid.text h4 {
        font-size: 1.2em;
    }
    .pic img {
        width: 63%;
    }
    .experience-left h5, .experience-left-trd h5, .experience-right-snd h5 {
        color: #34353a;
        font-size: 0.65em;
        margin: 10px 0;
    }
    .experience-left h4, .experience-left-trd h4, .experience-right-snd h4 {
        font-size: 0.9em;
    }
    .experience-left p, .experience-left-trd p, .experience-right-snd p {
        font-size: 0.85em;
        line-height: 1.8em;
        margin-top: 4px;
    }
    .experience-left, .experience-left-snd, .experience-left-trd {
        left: 7px;
        width: 41%;
    }
    h3.tittle {
        font-size: 2.2em;
    }
    .people-grid div {
        left: 65px;
        position: absolute;
        top: 18px;
    }
    .clientsgrid {
        left: 23%;
        top: 50%;
    }
    .people-grid {
        left: 66%;
        position: absolute;
        text-align: center;
        top: 50%;
    }
    .total-project {
        left: 42%;
        position: absolute;
        text-align: center;
        top: 15%;
    }
    label {
        font-size: 0.9em;
        margin: 0;
    }
    form.left_form {
        float: left;
        width: 100%;
    }
    form.right_form {
        float: right;
        width: 100%;
    }
    .contact-form input[type="submit"] {
        float: left;
        font-size: 0.95em;
        padding: 0.7em;
        width: 19%;
    }
    .contact-form {
        padding: 1em 0;
    }
    .experience-left-trd p {
        font-size: 0.75em;
    }
    .experience-left p {
        font-size: 0.75em;
    }
}
@media (max-width: 600px) {
    .banner {
        min-height: 349px;
    }
    .logo a h1 {
        font-size: 3.7em;
    }
    .banner-info p {
        font-size: 0.83em;
        line-height: 1.9em;
        margin: 1% auto 0;
        width: 100%;
    }
    .top-menu ul {
        margin: 48px 0 48px -1.5em;
        padding: 2% 0;
        width: 93.5%;
    }
    .banner-info {
        margin-top: 3em;
    }
    .scroll-down h4 {
        font-size: 0.9em;
        margin-bottom: 10px;
    }
    .pic img {
        width: 100%;
    }
    .experience-left, .experience-left-snd, .experience-left-trd {
        left: 7px;
        width: 70%;
    }
    span.devide-line {
        display: none;
        height: 370px;
        left: 51%;
        top: 5.4em;
        width: 1px;
    }
    .experience-right-snd {
        left: 38.5%;
        top: 19.6em;
        width: 60%;
    }
    .experience-left span, .experience-left-trd span {
        font-size: 1em;
        padding: 14px;
        right: -5em;
    }
    .experience-left-snd span {
        font-size: 1em;
        left: -9em;
        padding: 14px;
    }
    .experience-left-snd {
        top: 15em;
    }
    .experience-left-trd {
        top: 26em;
    }
    .experience-left-trd span {
        top: 2.2em;
    }
    .skills-grid {
        float: left;
        margin: 0;
        width: 50% !important;
    }
    .experience {
        min-height: 980px;
        padding-top: 3em;
    }
    h3.tittle {
        font-size: 2.2em;
        margin-bottom: 0.5em;
    }
    .gallery {
        padding: 3em 0;
    }
    .cycle span {
        background: rgba(0, 0, 0, 0) url("../images/cycle.png") no-repeat scroll 0 0 / 100% auto;
        display: inline-block;
        height: 160px;
        width: 160px;
    }
    .project-grid span {
        height: 40px;
        width: 40px;
    }
    .project-grid span i {
        font-size: 1em;
        padding-right: 0.3em;
        padding-top: 0.7em;
    }
    .project-grids h4 {
        font-size: 0.9em;
    }
    .people-grid {
        left: 62%;
        position: absolute;
        text-align: center;
        top: 55%;
    }
    .clientsgrid {
        left: 29%;
        top: 55%;
    }
    .people-grid div {
        left: 33px;
        position: absolute;
        top: 18px;
    }
    .clientsgrid div {
        left: -65px;
        position: absolute;
        top: 12px;
    }
    .total-project {
        left: 43%;
        position: absolute;
        text-align: center;
        top: 22%;
    }
    .projects {
        min-height: 429px;
        padding-top: 11em;
    }
}
@media (max-width: 480px) {
    .banner {
        min-height: 349px;
    }
    .logo a h1 {
        font-size: 3.7em;
    }
    .banner-info p {
        font-size: 0.83em;
        line-height: 1.9em;
        margin: 1% auto 0;
        width: 100%;
    }
    .top-menu ul {
        margin: 48px 0 48px -1.5em;
        padding: 2% 0;
        width: 93.5%;
    }
    .banner-info {
        margin-top: 3em;
    }
    .scroll-down h4 {
        font-size: 0.9em;
        margin-bottom: 10px;
    }
    .pic img {
        width: 100%;
    }
    .experience-left, .experience-left-snd, .experience-left-trd {
        left: 7px;
        width: 70%;
    }
    span.devide-line {
        display: none;
        height: 370px;
        left: 51%;
        top: 5.4em;
        width: 1px;
    }
    .experience-right-snd {
        left: 38.5%;
        top: 19.6em;
        width: 60%;
    }
    .experience-left span, .experience-left-trd span {
        font-size: 1em;
        padding: 14px;
        right: -5em;
    }
    .experience-left-snd span {
        font-size: 1em;
        left: -9em;
        padding: 14px;
    }
    .experience-left-snd {
        top: 15em;
    }
    .experience-left-trd {
        top: 26em;
    }
    .experience-left-trd span {
        top: 2.2em;
    }
    .skills-grid {
        float: left;
        margin: 0;
        width: 50% !important;
    }
    .experience {
        min-height: 980px;
        padding-top: 3em;
    }
    h3.tittle {
        font-size: 2.2em;
        margin-bottom: 0.5em;
    }
    .gallery {
        padding: 3em 0;
    }
    .cycle span {
        background: rgba(0, 0, 0, 0) url("../images/cycle.png") no-repeat scroll 0 0 / 100% auto;
        display: inline-block;
        height: 160px;
        width: 160px;
    }
    .project-grid span {
        height: 40px;
        width: 40px;
    }
    .project-grid span i {
        font-size: 1em;
        padding-right: 0.3em;
        padding-top: 0.7em;
    }
    .project-grids h4 {
        font-size: 0.9em;
    }
    .people-grid {
        left: 62%;
        position: absolute;
        text-align: center;
        top: 55%;
    }
    .clientsgrid {
        left: 29%;
        top: 55%;
    }
    .people-grid div {
        left: 33px;
        position: absolute;
        top: 18px;
    }
    .clientsgrid div {
        left: -65px;
        position: absolute;
        top: 12px;
    }
    .total-project {
        left: 43%;
        position: absolute;
        text-align: center;
        top: 22%;
    }
    .projects {
        min-height: 429px;
        padding-top: 11em;
    }
    .black {
        min-height: 350px;
    }
    .map iframe {
        min-height: 350px;
    }
    .map {
        min-height: 350px;
    }
    .contact-top {
        padding: 3em 0 2em 1em;
    }
    .contact_desc {
        padding: 3em 0 2em;
    }
    .skills-grid:nth-child(1), .skills-grid:nth-child(2), .skills-grid:nth-child(3), .skills-grid:nth-child(4) {
        margin-bottom: 30px;
    }
    .my-skills {
        padding: 3em 0;
    }
    .contact-form input[type="submit"] {
        float: left;
        font-size: 0.95em;
        padding: 0.7em;
        width: 27%;
    }
    .contact-form textarea {
        height: 175px;
        margin: 0 0 0.5em;
    }
}
@media (max-width: 384px) {
    .cycle span {
        background: rgba(0, 0, 0, 0) url("../images/cycle.png") no-repeat scroll 0 0 / 99% auto;
        display: inline-block;
        height: 120px;
        width: 120px;
    }
    .projects {
        min-height: 320px;
        padding-top: 8em;
    }
    .people-grid {
        left: 59%;
        position: absolute;
        text-align: center;
        top: 51%;
    }
    .clientsgrid {
        left: 29%;
        top: 50%;
    }
    .total-project {
        left: 38%;
        position: absolute;
        text-align: center;
        top: 15%;
    }
    .skills-grid {
        float: left;
        margin: 0;
        width: 100% !important;
    }
    .text {
        min-height: 266px;
        padding: 1em;
    }
    #about {
        padding: 2em 0;
    }
    .project-grid p {
        font-size: 1em;
    }
    .experience-left, .experience-left-snd, .experience-left-trd {
        left: -10px;
        width: 100%;
    }
    .experience-right-snd {
        left: 0;
        top: 26.6em;
        width: 100%;
    }
    .experience-left span, .experience-left-trd span {
        font-size: 1em;
        padding: 14px;
        right: 9em;
    }
    .experience-left span {
        top: -0.5em;
    }
    .experience-left {
        top: 3em;
    }
    .experience-left-snd span {
        top: 3.1em;
    }
    .experience-left-trd {
        top: 32em;
    }
    .experience-left-trd span {
        top: -0.8em;
    }
    .experience-left-trd {
        top: 34em;
    }
    .experience {
        min-height: 1114px;
        padding-top: 3em;
    }
    ul.side_nav {
        position: fixed;
        right: 5%;
        top: 19%;
        z-index: 1;
    }
    .logo a h1 {
        font-size: 3em;
    }
    .contact-form input[type="text"], .contact-form textarea {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ddd;
        color: #333;
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 4px;
        outline: medium none;
        padding: 12px 14px;
        text-transform: uppercase;
        width: 100%;
    }
    .point i {
        font-size: 3em;
    }
    .map-l i {
        font-size: 3em;
    }
    .black {
        min-height: 250px;
    }
    .map iframe {
        min-height: 250px;
    }
    .map {
        min-height: 250px;
    }
    .my-skills {
        padding: 2em 0;
    }
    .map-l {
        margin: 34% auto 0;
    }
}
@media (max-width: 375px) {
    .cycle span {
        background: rgba(0, 0, 0, 0) url("../images/cycle.png") no-repeat scroll 0 0 / 99% auto;
        display: inline-block;
        height: 120px;
        width: 120px;
    }
    .projects {
        min-height: 320px;
        padding-top: 8em;
    }
    .people-grid {
        left: 59%;
        position: absolute;
        text-align: center;
        top: 51%;
    }
    .clientsgrid {
        left: 29%;
        top: 50%;
    }
    .total-project {
        left: 38%;
        position: absolute;
        text-align: center;
        top: 15%;
    }
    .skills-grid {
        float: left;
        margin: 0;
        width: 100% !important;
    }
    .text {
        min-height: 266px;
        padding: 1em;
    }
    #about {
        padding: 2em 0;
    }
    .project-grid p {
        font-size: 1em;
    }
    .experience-left, .experience-left-snd, .experience-left-trd {
        left: -10px;
        width: 100%;
    }
    .experience-right-snd {
        left: 0;
        top: 26.6em;
        width: 100%;
    }
    .experience-left span, .experience-left-trd span {
        font-size: 1em;
        padding: 14px;
        right: 9em;
    }
    .experience-left span {
        top: -0.5em;
    }
    .experience-left {
        top: 3em;
    }
    .experience-left-snd span {
        top: 3.1em;
    }
    .experience-left-trd {
        top: 32em;
    }
    .experience-left-trd span {
        top: -0.8em;
    }
    .experience-left-trd {
        top: 34em;
    }
    .experience {
        min-height: 1114px;
        padding-top: 3em;
    }
    ul.side_nav {
        position: fixed;
        right: 5%;
        top: 19%;
        z-index: 1;
    }
    .logo a h1 {
        font-size: 3em;
    }
    .contact-form input[type="text"], .contact-form textarea {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ddd;
        color: #333;
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 4px;
        outline: medium none;
        padding: 12px 14px;
        text-transform: uppercase;
        width: 100%;
    }
    .point i {
        font-size: 3em;
    }
    .map-l i {
        font-size: 3em;
    }
    .black {
        min-height: 250px;
    }
    .map iframe {
        min-height: 250px;
    }
    .map {
        min-height: 250px;
    }
    .my-skills {
        padding: 2em 0;
    }
    .map-l {
        margin: 34% auto 0;
    }
    .top-menu ul {
        margin: 43px 0 43px -0.8em;
        padding: 2% 0;
        width: 90%;
    }
    h3.tittle.four {
        color: #1A1A1A;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}
@media (max-width: 320px) {
    .cycle span {
        background: rgba(0, 0, 0, 0) url("../images/cycle.png") no-repeat scroll 0 0 / 100% auto;
        display: inline-block;
        height: 97px;
        width: 97px;
    }
    .experience-left p, .experience-left-trd p, .experience-right-snd p {
        font-size: 0.83em;
        line-height: 1.8em;
        margin-top: 4px;
    }
    .project-grids h4 {
        font-size: 0.7em;
    }
    ul.side_nav li a {
        height: 8px;
        margin-bottom: 0.6em;
        width: 8px;
    }
    .clientsgrid {
        left: 29%;
        top: 52%;
    }
    .people-grid {
        left: 56%;
        position: absolute;
        text-align: center;
        top: 52%;
    }
    .projects {
        min-height: 280px;
        padding-top: 8em;
    }
    .total-project {
        left: 39%;
        top: 20%;
    }
    .experience-left, .experience-left-snd, .experience-left-trd {
        left: -10px;
        width: 100%;
    }
    .experience-right-snd {
        left: 0;
        top: 26.6em;
        width: 100%;
    }
    .experience-left span, .experience-left-trd span {
        font-size: 1em;
        padding: 14px;
        right: 9em;
    }
    .experience-left span {
        top: -0.5em;
    }
    .experience-left {
        top: 3em;
    }
    .experience-left-snd span {
        top: 3.1em;
    }
    .experience-left-trd {
        top: 32em;
    }
    .experience-left-trd span {
        top: -0.8em;
    }
    .experience-left-trd {
        top: 35em;
    }
    .experience {
        min-height: 1114px;
        padding-top: 3em;
    }
    ul.side_nav {
        position: fixed;
        right: 5%;
        top: 19%;
        z-index: 1;
    }
    .logo a h1 {
        font-size: 2.5em;
    }
    .scroll-down h4 {
        font-size: 0.8em;
        margin-bottom: 10px;
    }
    .banner-info {
        margin-top: 1em;
    }
    .banner {
        min-height: 285px;
    }
    .scroll-down {
        margin: 6% auto 0;
        text-align: center;
    }
    h3.tittle {
        font-size: 1.7em;
        margin-bottom: 0.5em;
    }
    h3.tittle {
        font-size: 1.7em;
        margin-bottom: 0.5em;
    }
    .ab-grid.text h4 {
        font-size: 1em;
    }
    .ab-grid.text p {
        font-size: 0.83em;
    }
    .experience {
        min-height: 1068px;
        padding-top: 2em;
    }
    .contact-form textarea {
        height: 131px;
        margin: 0 0 0.5em;
    }
    .contact-form input[type="submit"] {
        float: left;
        font-size: 0.9em;
        padding: 0.7em;
        width: 45%;
    }
    .contact-top {
        padding: 2em 0 1em 1em;
    }
    .top-menu ul {
        margin: 43px 0 43px -0.8em;
        padding: 2% 0;
        width: 90%;
    }
    .experience-left-trd p {
        font-size: 0.7em;
    }
    .experience-left p {
        font-size: 0.7em;
    }
    #loginForm {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #d6d6d6;
        height: 253px;
        width: 245px;
    }
    #loginForm span a {
        font-size: 0.83em;
    }
    #body label i {
        font-size: 0.9em;
    }
}
